<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Examples</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!--#include virtual="/superman/view/include/global.html" -->
    <style>
    * {
        margin: 0;
        padding: 0;
    }
    
    div {
        width: 500px;
        height: 500px;
        background: red;
        padding: 200px;
    }
    
    .fileBtn {
        display: block;
        width: 200px;
        height: 60px;
        background: #eee;
        border: 1px solid green;
        position: relative;
    }
    
    .fileBtn input {
        position: absolute;
        width: 60px;
        /*有最小宽度*/
        height: 30px;
        cursor: pointer;
        background: blue;
        /* opacity: 0;*/
        display: none;
    }
    </style>
</head>

<body>
    <div>
        <a href="javascript:;" class="fileBtn">
            <input type="file">
        </a>
        <a href="javascript:;" class="aaa">click</a>
    </div>
    <img src="" alt="" id="img_prev">
    <div>
        <img src="" alt="">
    </div>
</body>

</html>
<script type="text/javascript">
/*$(".fileBtn").hover(function() {
        $(document).mousemove(function(event) {
            var btnX = $(".fileBtn").offset().left;
            var btnY = $(".fileBtn").offset().top;
            var btnW = $(".fileBtn").width();
            var btnH = $(".fileBtn").height();
            var eX = event.clientX;
            var eY = event.clientY;
            if (eX < btnX || eX > btnX + btnW || eY < btnY || eY > btnY + btnH) {
                $('.fileBtn input').hide();
            } else {
                $('.fileBtn input').css({
                    'left': eX - 110 + "px",
                    'top': eY - 5 + "px"
                });
                $('.fileBtn input').show();
            }
        });

    });*/

/*$('.fileBtn').hover(function() {
    $('.fileBtn input').show();
}, function() {
    $('.fileBtn input').hide();
});


$('.fileBtn').mousemove(function(event) {
    var eX = event.offsetX;
    var eY = event.offsetY;
    var btnW = $(".fileBtn input").width();
    var btnH = $(".fileBtn input").height();
    console.log(eX);
    $('.fileBtn input').css({
        'left': eX - (btnW / 2),
        'top': eY - (btnH / 2)
    });

});*/
$('.fileBtn').mouseenter(function() {
    $('.fileBtn input').show();
});
$('.fileBtn').mouseleave(function() {
    $('.fileBtn input').hide();
});
var pos = $('.fileBtn').get(0).getBoundingClientRect();
$('.fileBtn').mousemove(function(event) {

    var L = event.clientX - ($(".fileBtn input").width()) / 2 - pos.left;
    var T = event.clientY - ($(".fileBtn input").height()) / 2 - pos.top;
    if (L < 0) {
        L = 0;
    } else if (L > $(this).outerWidth() - $(".fileBtn input").width()) {
        L = $(this).outerWidth() - $(".fileBtn input").width();
    }
    if (T < 0) {
        T = 0;
    } else if (T > $(this).outerHeight() - $(".fileBtn input").height()) {
        T = $(this).outerHeight() - $(".fileBtn input").height()
    }
    $('.fileBtn input').css({
        'left': L,
        'top': T
    });

});
$('[type=file]').change(function() {
    //console.log($(this).get(0).files[0]);
    console.log(this.files[0]);
    //console.log(this);
    console.log($(this).val());
    //displayProp(this)
    //var objUrl = getObjectURL(this.files[0]);
    //console.log(objUrl);
    readURL(this)
});
$('img').hover(function(){
    alert(1)
},function(){
    alert(2)
})

function displayProp(obj) {
    var names = "";
    for (var name in obj) {
        names += name + ": " + obj[name] + "\n";
    }
    console.log(names);
}

function getObjectURL(file) {
    var url = null;
    if (window.createObjectURL != undefined) { // 
        url = window.createObjectURL(file);
    } else if (window.URL != undefined) {
        //仅简单的验证仅如下的浏览器支持 webkit or chrome ie11 ie10 firefox oprea
        url = window.URL.createObjectURL(file);
    } else if (window.webkitURL != undefined) { // webkit or chrome
        url = window.webkitURL.createObjectURL(file);
    }
    return url;
};

/*var objUrl = getObjectURL(this.files[0]) ;
 if (objUrl) {
           imgSrc.attr("src", objUrl);//给予jquery也可以如此使用
 }*/
// URL对象是硬盘（SD卡等）指向文件的一个路径，如果我们做文件上传的时候，想要在图片没有上传服务器端的情况下
// 看到上传图片的效果图的时候就可是以通过var url=window.URL.createObjectURL(obj.files[0]);
// 获得一个http格式的url路径，此时候就可以设置到<img src="+url+">中显示了。window.webkitURL和window.URL是一样的，
// window.URL标准定义，window.webkitURL是webkit内核的实现（一般手机上就是使用这个）。



function readURL(input) {
    if (input.files && input.files[0]) {
        console.log(1)
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#img_prev')
                .attr('src', e.target.result)
                .width(200)
                .height(150);
        };
        reader.readAsDataURL(input.files[0]);
    }
}
</script>
