@charset "UTF-8";
/*body {
    background: red
}*/
/*编译后会保留*/
.box {
  width: 500px;
  height: 500px;
  background: yellow;
}
.border {
  border: 1px solid blue;
}
.box2 {
  border: 1px solid blue;
  width: 500px;
  height: 500px;
  background: yellow;
  border-color: green;
}
.box3 {
  width: 500px;
  height: 500px;
  background: yellow;
  border: 5px solid #0000ff;
}
.box4 {
  width: 500px;
  height: 500px;
  background: yellow;
  border: 10px solid #008000;
}
/*.sanjiao{
    width:0;
    height:0;
    overflow: hidden;
    border-width: 10px;
    border-color: blue transparent transparent transparent;
    border-style: solid dashed dashed dashed;
}*/
.abs {
  position: absolute;
  width: 100px;
  height: 100px;
  background: blue;
}
.sanjiao1 {
  border-width: 10px;
  border-color: transparent transparent transparent #008000;
  border-style: dashed dashed dashed solid;
}
.sanjiao2 {
  border-width: 10px;
  border-color: transparent transparent #cccccc transparent;
  border-style: dashed dashed solid dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
.abs {
  width: 500px;
}
.list {
  list-style: none;
  margin: 30px auto;
}
.list li {
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  background: pink;
}
.list li a {
  float: left;
}
.list li span {
  float: right;
}
