@charset "UTF-8";
body {
  background: #ff0000;
}
/*编译后会保留*/
.box {
  width: 500px;
  height: 500px;
  background: yellow;
}
.border {
  border: 1px solid blue;
}
.box2 {
  border: 1px solid blue;
  width: 500px;
  height: 500px;
  background: yellow;
  border-color: green;
}
