<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Touch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui" />
    <script src="/dev/lib/jq/jquery-1.10.1.min.js"></script>
</head>

<body>
    
        <label><input type="checkbox" />1111</label>

    <br />
    <br />
    <br />
    <br />
    <br />
    <a href="javascript:;">click</a>
</body>

</html>
<script>
$('input').change(function() {
    if ($(this).is(':checked')) {
        alert(1)
        $(this).prop('checked',true);
    } else {
        alert(2)
        $(this).prop('checked',false);
    }
})
$('a').click(function() {
    $('input').prop('checked', true)
})
</script>
