@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2016-10-19 21:03:44
 * @version $Id$
 */

* {
    margin: 0;
    padding: 0;
}
html {
    font-size: calc(100vw / 3.75);
    /*max-width: 580px;
    min-height: 320px;*/
}
body{
    font-family: "微软雅黑";
}
.top{
    position: relative;
}
.title {
    font-size: 0.2rem;
    text-align: center;
    line-height: 0.44rem;
    background: #ffae19;
    color: #fff;
}
.top a{
    color: #fff;
    position: absolute;
    left: 0.06rem;
    top: 0.14rem;
    text-decoration: none;
    display: block;
    width: 0.125rem;
    height: 0.15rem;
    font-size: 0.2rem;
    line-height: 0.15rem
}
.com{
    height: 1.23rem;
    background: url(bg.jpg) center no-repeat;
    background-size: cover;
}
.com .img_box{
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    margin:0 auto 0;
    padding-top: 0.13rem;
}
.img_box img{
    width: 0.75rem;
    height: 0.75rem;
    display: block;
    vertical-align: top;
}
.login_box{
    text-align: center;
    font-size: 0.17rem;
    font-family: "黑体";
    line-height: 0.27rem;
    color: #fff;
}
.login_box a{
    color: #fff;
    text-decoration: none;
}