<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>vue.js</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <script src="/superman/lib/vue/vue.js"></script>
    <script src="/superman/lib/jq/jquery-2.2.1.min.js"></script>
    <script>
    $(function() {
        var app1 = new Vue({
            el: "#app1",
            data: {
                msg: 'hello'
            }
        });
        var app2 = new Vue({
            el: '#app2',
            data: {
                titles: '现在时间： ' +(+new Date())//转成时间戳
            }
        })
        var app3 = new Vue({
                el: '#app3',
                data: {
                    isSee: true
                }
            })
            //app3.isSee=false;
        var app4 = new Vue({
            el: "#app4",
            data: {
                each:[
                    {text:"no.1"},{text:"no.2"},{text:"no.3"},{text:"no.4"}
                ]
            }

        })
        app4.each.push({ text: 'New item' });
        var app5 = new Vue({
            el: "#app5",
            data:{
                msg:'hello vue.js!'
            },
            methods:{
                reverseMsg:function(){
                    this.msg=this.msg.split('').reverse().join('')
                }
            }
        
        })
    })
    </script>
    <script>
        $(function(){
            //alert($('#app2').find('span').attr('title'))
        })
    </script>
    <style type="text/css" media="screen">
        *{
            margin: 0;
            padding: 0;
        }
        .abc{
            color: red;
        }
    </style>
</head>

<body>
    <div id='app1'>
        {{msg}}
    </div>
    <div id="app2">
        <span v-bind:title='titles'>title有时间</span>
        <input type="text" name="" v-model='titles'>
        <input type="text" name="" v-bind:value='titles'>
        <p>{{titles}}</p>
    </div>
    <div id="app3" v-if="isSee">
        你能看见我
    </div>
    <div id="app4">
        <ol>
            <li v-for="goto in each">
                {{ goto.text }}
            </li>
        </ol>
    </div>
    <div id="app5" class="abc">
        <p>{{msg}}</p>
        <button v-on:click="reverseMsg">click</button>
    </div>
</body>

</html>
