<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>vue.js</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <script src="/dev/lib/vue/vue.js"></script>
    <script src="/dev/lib/jq/jquery-2.2.1.min.js"></script>
    <script>
    $(function() {
        var app1 = new Vue({
            el: ".app",
            data: {
                orderlist: [{
                    sku: [{
                            id: ""
                        }, 
                        {
                            color: "red"
                        }, 
                        {
                            amount: [{
                                num: "",
                                stock: ""
                            }, 
                            {
                                num: "",
                                stock: ""
                            }]
                        }, 
                        {
                            skutotal: "红色"
                        }]
                    }, 
                    {
                     total: "1"
                }]
            }
        })
    })
    </script>
    <script>
    $(function() {
        //alert($('#app2').find('span').attr('title'))
    })
    </script>
</head>

<body>
    <div class="app">
        <div v-for="order in orderlist">
            <table>
                <tr v-for="sku in order.sku">
                    <td align="center">{{sku.color}}</td>
                    <td>{{sku.skutotal}}</td>
                </tr>
            </table>
            <div>{{order.total}}</div>
        </div>
    </div>
</body>

</html>
