<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>vue.js</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <script src="/dev/lib/vue/vue.js"></script>
    <script src="/dev/lib/jq/jquery-2.2.1.min.js"></script>
    <script>
    $(function() {
        new Vue({
            el: "#a",
            data: {
                msg: ['apple', 'orange', 'paer', 'haha'],
                a:true
            },
            methods: {
                show: function() {
                    alert(1)
                },
                add: function() {
                    this.msg.push('bannan')
                }
            }
        })
    })
    </script>
</head>

<body>
    <div id="a" >
        <p @click="add" >click1</p>
        <p @click="a=false" >click2</p>
        <ul>
            <li v-for="item in msg">{{item}}</li>
        </ul>
        <div style="width: 100px;height: 100px;background: red" v-show="false"></div>
        <div style="width: 100px;height: 100px;background: red" v-show="a"></div>
    </div>
</body>

</html>
