<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>vue.js</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- <script src="/dev/lib/vue/vue.js"></script> -->
    <script src="/dev/lib/vue/vue1.js"></script>
    <script src="/dev/lib/jq/jquery-2.2.1.min.js"></script>
    <script>
    $(function() {
        new Vue({
            el: "#a",
            data: {
                msg:"haha"
            }
        })
    })
    </script>
</head>

<body>
    <div id="a" >
       <p>{{msg|uppercase}}</p>
        
    </div>
</body>
<script>
    var Abc=function(){
        //this.name='123'
    }
    Abc.prototype.name='456';
    var a=new Abc()
    alert(a.name)
</script>
</html>
